<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/05feb0cb-a945-4a05-9b9b-44c0aa8ee91e/resourceGroups/rg-azsql/providers/Microsoft.Web/sites/sspwebapi1</ResourceId>
    <ResourceGroup>rg-azsql</ResourceGroup>
    <ApiResourceId>/subscriptions/05feb0cb-a945-4a05-9b9b-44c0aa8ee91e/resourceGroups/rg-azsql/providers/Microsoft.ApiManagement/service/WebApi7AzureApi/apis/WebApi7</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sspwebapi1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>5d23a9b0-c6fb-42f0-8261-64724f3faa30</ProjectGuid>
    <MSDeployServiceURL>sspwebapi1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sspwebapi1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$sspwebapi1</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>