<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/05feb0cb-a945-4a05-9b9b-44c0aa8ee91e/resourceGroups/rg-azsql/providers/Microsoft.Web/sites/sspwebapi2</ResourceId>
    <ResourceGroup>rg-azsql</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://sspwebapi2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5d23a9b0-c6fb-42f0-8261-64724f3faa30</ProjectGuid>
    <PublishUrl>https://sspwebapi2.scm.azurewebsites.net/</PublishUrl>
    <UserName>$sspwebapi2</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>